version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
jobs:
  build:
    # machine: true
    docker:
      - image: circleci/node:12
      - image: mysql:8.0.4
        environment:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test_db
          MYSQL_USER: hackatalk
          MYSQL_PASSWORD: hackatalk!
    working_directory: ~/app
    steps:
      - checkout
      - run:
          # Our primary container isn't MYSQL so run a sleep command until it's ready.
          name: Waiting for MySQL to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 

      - run:
          name: Install MySQL CLI; Import dummy data; run an example query
          command: |
            sudo apt-get install default-mysql-client

      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'

      - run:
          name: Install packages
          working_directory: .
          command: |
            yarn

      - run:
          name: ESLint
          working_directory: .
          command: |
            yarn lint

      - run:
          name: TSC build
          working_directory: .
          command: |
            yarn tsc

      - run:
          name: Remove dist
          working_directory: .
          command: |
            rm -rf ./dist

      - run:
          name: Jest test
          working_directory: .
          command: |
            yarn test --coverage --silent

      - codecov/upload:
          file: ./coverage/lcov.info
          token: 2b096ad2-7ba8-4b1b-a319-b3e712037ca5

      - store_test_results:
          path: coverage

      - store_artifacts:
          path: coverage


workflows:
  version: 2.1
  build-deploy:
    jobs:
      - build
